/* Color Scheme */
/* https://coolors.co/26547c-ef476f-ffd166-06d6a0-fffcf9 */

html {
  font-family: 'Roboto', sans-serif;
  background-color: #fffcf9;
}

h1,
h2,
h3,
h4,
h5,
h6 { color: #26547c; }

hr {
  margin: 48px 0;
  border-color: #ef476f;
  border-width: 3px;
}

code pre {
  /*
  font-family: 'Roboto Mono', monospace;
  font-size: .8rem;
  color: #333;
  font-weight: bold;
*/
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
